*{
  box-sizing:border-box;
  padding: 0px;
  margin: 0px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
/*Style the header*/
header{
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  display:grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
}
#headerTitle {
  justify-self: center;
}
#search {
  display: flex;
}

#search input {
  margin-left: 10px;
  height: 30px;
  margin-top: 5px;
}
/*Container for flexboxes*/
section{
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}
/* Style the list inside the menu */
nav ul{
  list-style-type: none;
  padding: 0;
}
/*Style the content*/
article{
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}
/*Style the footer*/
footer{
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
/*Responsive layout - makes the menu and the content (inside the section) sit on top of each other in */
@media screen and (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.category-product-title{
  grid-column: 1/span 3;
  color: darkslategrey;
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 10px;
}

.category-product-image-container{
  padding: 10px;
  width: 60%;
}

.category-product-image-container img{
  width: 100%;
  height: 100%;
}

.category-product-info-header {
  display: flex;
}

.category-product-info-finance-price {
  color: darkslategray;
  font-size: 2em;
  font-weight: bold;
  padding-top: 10px;
}

.category-product-info-dimensions,
.category-product-info-capacity {
  display: flex;
  flex-direction: column;
}

.category-product-info-dimensions h3,
.category-product-info-capacity h3,
.category-product-info-feature h3 {
  color: darkslategray;
  font-size: 1em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

.category-product-info-feature li {
  padding-top: 5px;
}

.category-product-info-stock {
  padding-left: 10px;
}